[user]
    name = beucismis
    email = beucismis@tutamail.com
[gpg]
    program = gpg
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/
[alias]
    m = mv
    r = rm
    a = add
    t = tag
    l = log
    i = init
    p = pull
    d = diff
    g = grep
    s = show
    f = fetch
    c = clone
    mr = merge
    rs = reset
    st = status
    br = branch
    cm = commit
    rb = rebase
    cmt = commit -m
    rmt = remote -v
[core]
    editor = nano
	pager = delta
[commit]
    verbose = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
	dark = true
    navigate = true
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
