* {
    border: none;
    min-height: 0;
    font-size: 12px;
    border-radius: 0;
    font-family: Monospace;
}

window#waybar {
    color: #ffffff;
    background-color: #225877;
}

.modules-left {
    background-color: #323232;
}

.modules-right {
    background-color: #323232;
}

#workspaces {}

#workspaces button {
    padding: 0 2px;
    margin: 0 2px;
}

#workspaces button.focused {
    color: #ffffff;
    background-color: #285577;
}

#mode {
    padding: 0 2px;
    color: #ffffff;
    margin: 0 0 0 4px;
    background-color: #900000;
}

#window {
    padding: 0 2px;
    color: #ffffff;
    margin: 0 0 0 4px;
    background-color: #285577;
}

window#waybar.empty #window {
    color: transparent;
    background-color: transparent;
}

window#waybar.empty {
    background-color: #323232;
}

#tray {
    padding: 0 2px;
    margin: 0 1px 0 4px;
}

#pulseaudio, #idle_inhibitor, #cpu, #temperature, #memory, #user, #clock {
    margin: 0 1px;
    padding: 0 2px;
}

#idle_inhibitor.deactivated {
    color: #ffffff;
    background-color: #900000;
}