* {
    border: none;
    min-height: 0;
    font-size: 12px;
    border-radius: 0;
    font-family: "Source Code Pro";
}

window#waybar {
    color: @theme_text_color;
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
}

#window {
    padding: 0 8px;
}

#mode {
    color: #2d2d2d;
    margin-left: 8px;
    margin-right: 0px;
    background: #f4c542;
}

#workspaces button {
    padding: 0;
    color: white;
    background: transparent;
}

#workspaces button.focused {
    background: #225877;
}

#mode,
#mpris,
.waybar-weather,
#custom-updates,
#backlight,
#wireplumber,
#bluetooth,
#cpu,
#temperature,
#memory,
#battery,
#clock,
#tray {
    padding: 2px 8px;
}

#mpris,
.waybar-weather {
    margin: 0px 4px;
    background: #225877;
}

#bluetooth,
#temperature {
    padding-left: 0;
}

#custom-updates {
    background: transparent;
}
