* {
    border: none;
    min-height: 0;
    font-size: 12px;
    border-radius: 0;
    font-family: "Source Code Pro";
}

window#waybar {
    color: @theme_text_color;
    background: @theme_base_color;
    border-bottom: 1px solid @unfocused_borders;
}

#window {
	padding: 0 8px;
}

#mode {
	color: #2D2D2D;
	margin-left: 8px;
	margin-right: 0px;
    background: #F4C542;
}

#workspaces button {
	padding: 0;
    color: white;
    background: transparent;
}

#workspaces button.focused {
    background: #225877;
}

#mode,
#mpris,
#custom-updates,
#backlight,
#wireplumber,
#bluetooth,
#cpu,
#temperature,
#memory,
#battery,
#clock,
#tray {
    padding: 2px 8px;
}

#mpris {
	background: #225877;
}

#bluetooth, #temperature {
	padding-left: 0;
}

#custom-updates {
	background: transparent;
}