#!/bin/bash

# Listing
alias l="ls -la"
alias ld="ls -ld */"
alias ls="ls --color=auto"

# Shortcuts
alias g="git"
alias s="sudo"
alias c="clear"
alias rr="rm -rf"
alias untar="tar -zxvf "
alias reload="source $HOME/.bashrc"

# Defaults
alias df="df -H"
alias du="du -ch"
alias mkdir="mkdir -pv"
alias grep="grep --color=auto"
alias nano="micro"

# Package Managers
alias pacman="sudo pacman"
alias pacu="pacman -Syuu --noconfirm"
alias pacc="pacman -Scc --noconfirm"
alias mirror="pacman-mirrors"
alias mirror-fast="sudo pacman-mirrors --fasttrack 20 && pacman -Syyu"
alias mirrors-choose="sudo pacman-mirrors --interactive && pacman -Syyu"
alias pipu="python3 -m pip install --upgrade pip"

# Dotfiles
alias dotfiles-check="git -C $HOME/.dotfiles status"

# Test
alias camera-test="ffplay /dev/video0"
